{
  "extends": ["airbnb-base", "plugin:prettier/recommended"],
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["lib"],
        "extensions": [".js", ".ts", ".d.ts", ".tsx"]
      }
    }
  },
  "parserOptions": {
    "ecmaVersion": 2022
  },
  "rules": {
    "arrow-body-style": 0,
    "comma-dangle": 0,
    "no-plusplus": 0,
    "no-restricted-syntax": 0,
    "no-use-before-define": 0
  }
}
